<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit-book}" th:object="${booksEntity}" method="post">
    <input th:type="hidden" name="id" th:field="*{idBook}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update book"></td>
        </tr>
    </table>
</form>
</body>
</html>