<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID booking</th>
            <th>ID service</th>
            <th>Start day</th>
            <th>End day</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${historyContracts}">
            <td th:text="${contract.getIdContract()}"></td>
            <td th:text="${contract.getIdService()}"></td>
            <td th:text="${contract.getStartDay()}"></td>
            <td th:text="${contract.getEndDay()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>